.contact{

    background-color: white;


    .wrapper{


        display: flex;
        .left{
            flex:1;

            img{
height: 100%;
width:100%;
object-fit: cover;
            }
        }


        .right{
            flex:1;


            display: flex;
            justify-content: center;
            align-items: center;

            .formm{
                display: flex;
                flex-direction: column;
                

                h1{
                    text-align: center;
                    
    text-align: center;
    margin-bottom: 7vh;
    font-size: 45px;

                }

                form{
                    display: flex;
                    flex-direction:column;
                    width:24vw;
                    justify-content: space-between;
                    height: 43vh;
                    align-items: center;
                    position:relative;
                    span{

                        color:green;
                        position:absolute;
                        bottom:-45px;
                    }
                    .aman{
                        width: 23vw;
                        height: 4vh;
                        margin-bottom:-15px;
                    }
                .vikas{
                    
    width: 356px;
    height: 21vh;
    margin-bottom:15px;



                }

                button{

                    background-color: rgb(248, 82, 82);
                    color: black;
                    border-radius: 18%;
                    padding: 8px;
                    width: 76px;
                }
                }
            }
        }
    }
}